:root {
	--background: #fafafa;
	--code: #f0e6ef;
	--link: #e10270;
	--link-active: #f053a0;
	--text: #222;
}
a {
	color: var(--link);
	text-decoration: none;
}
.active { color: var(--link-active); }
body {
	background-color: var(--background);
	color: var(--text);
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	height: 100%;
	margin: 0;
}
.center {
	margin: 0 auto;
	max-width: 33rem;
}
h1 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 2rem;
}
h2 {
	font-size: 1.17rem;
	font-weight: 400;
	margin-top: 2rem;
}
header {
	align-items: center;
	background-color: #101010;
	box-sizing: border-box;
	display: flex;
	height: 3.4rem;
	justify-content: space-between;
	padding: 0 2rem;
}
@media (max-width: 50rem) {
	header { padding: 0 1rem; }
}
header a { color: var(--code); }
main {
	flex-grow: 1;
	min-width: 0;
	overflow-y: auto;
	padding: 0 2rem;
}
@media (max-width: 50rem) {
	main {
		flex-grow: 1;
		min-width: 0;
		overflow-y: auto;
		padding: 0 1rem;
	}
}
nav {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	padding: 0 2rem;
}
.nav_inner {
	display: flex;
	flex-direction: column;
}
.nav_inner a { white-space: nowrap; }
.nav_inner span { margin: 2rem 0 .2rem 0; }
@media (max-width: 50rem) {
	nav {
		display: none;
	}
	nav:target {
		background-color: var(--background);
		bottom: 0;
		display: flex;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
@media (min-width: 50.0001rem) {
	nav {
		border-right: 1px solid #d0d0d0;
		box-shadow: 0 0 1rem hsla(0, 0%, 0%, .05);
	}
}
.nav_link {
	color: var(--link);
}
@media (min-width: 50.0001rem) {
	.nav_link { display: none; }
}
.next_page { margin: 1rem 0; }
.number {
	display: inline-block;
	font-weight: 500;
	text-align: right;
	width: 1.5rem;
}
p {
	max-width: 33rem;
	text-align: justify;
}
p code,
h2 code,
li code {
	background-color: var(--code);
	border-radius: .2rem;
	padding: .15rem .3rem;
}
pre {
	background-color: var(--code);
	box-shadow: inset 0 .5rem .5rem -.5rem hsla(0, 0%, 0%, .1),
				inset 0 -.5rem .5rem -.5rem hsla(0, 0%, 0%, .1);
	font-size: .9rem;
	line-height: 1.4;
	margin-bottom: 2rem;
	margin-left: -2rem;
	margin-right: -2rem;
	margin-top: 2rem;
	overflow-x: auto;
	padding: 2rem;
}
@media (max-width: 50rem) {
	pre {
		margin-left: -1rem;
		margin-right: -1rem;
		overflow-x: auto;
		padding: 1rem;
	}
}
.split {
	display: flex;
	height: calc(100vh - 3.4rem);
}
.title { font-weight: 500; }