<!DOCTYPE html>
<html lang="{lang}" {dir_attribute}>
    <head>
        <title>{title}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{root_prefix}styles.css" rel="stylesheet">
        <script defer src="{root_prefix}scripts.js"></script>
    </head>
    <body>
        <script>document.body.classList.add('js_enabled');</script>
        <div class="layout">
            <main>
                {body}
            </main>
            {catalog_title}
        </div>
    </body>
</html>