<!DOCTYPE html>
<html {dir_attribute} lang="{lang}">
    <head>
        <title>{title}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {crawler_meta}
        <link href="{root_prefix}{theme_stylesheet_filename}?{theme_css_hash}" rel="stylesheet">
        <link href="{root_prefix}embeds.css?{embeds_css_hash}" rel="stylesheet">
        <script defer src="{root_prefix}embeds.js?{embeds_js_hash}"></script>
    </head>
    <body>
        <script>document.body.classList.add('js_enabled');</script>
        <main>
            {body}
        </main>
    </body>
</html>