<!DOCTYPE html>
<html {dir_attribute}>
    <head>
        <title>{title}</title>
        <meta charset="utf-8">
        <meta name="description" content="{title}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {feed_meta_link}
        <link href="{root_prefix}styles.css" rel="stylesheet">
        <script defer src="{root_prefix}scripts.js"></script>
    </head>
    <body>
        <script>document.body.classList.add('js_enabled');</script>
        <nav>
            <img src="{root_prefix}logo.svg" style="height: 100%"/>
            <a href="{root_prefix}.{explicit_index}">{catalog_title}</a>
            {breadcrumbs}
        </nav>
        {body}
        {theming_widget}
    </body>
</html>