<!DOCTYPE html>
<html {dir_attribute}>
    <head>
        <title>{title}</title>
        <meta charset="utf-8">
        <meta name="description" content="{title}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{root_prefix}favicon.svg" rel="icon" type="image/svg+xml">
        <link href="{root_prefix}favicon_light.png" rel="icon" type="image/png" media="(prefers-color-scheme: light)">
        <link href="{root_prefix}favicon_dark.png" rel="icon" type="image/png"  media="(prefers-color-scheme: dark)">
        {feed_meta_link}
        <link href="{root_prefix}styles.css" rel="stylesheet">
        <script defer src="{root_prefix}scripts.js"></script>
    </head>
    <body>
        <script>document.body.classList.add('js_enabled');</script>
        <nav>
            <a href="{root_prefix}.{index_suffix}">
                <img alt="Faircamp" src="{root_prefix}logo.svg">
            </a>
            <a href="{root_prefix}.{index_suffix}">{catalog_title}</a>
            {breadcrumbs}
        </nav>
        {body}
        {theming_widget}
    </body>
</html>