:root {
	--bg-1: #111;
	--bg-2: #222;
	--bg-3: #333;
	--fg-1: #fff;
	--fg-2: #ddd;
	--fg-3: #bbb;
	--reviewed: oklch(0.77 0.23 155.96);
	--shadow: transparent;
	--unreviewed: oklch(0.89 0.21 99.98);
	--unreviewed-veil: oklch(0.89 0.21 99.98 / 20%);
	--untranslated: oklch(0.64 0.27 18.4);
	--untranslated-veil: oklch(0.64 0.27 18.4 / 20%);
}
@media (prefers-color-scheme: light) {
	:root {
		--bg-1: #fff;
		--bg-2: #eee;
		--bg-3: #ccc;
		--fg-1: #000;
		--fg-2: #222;
		--fg-3: #444;
		--reviewed: oklch(0.77 0.23 155.96);
		--shadow: #ddd;
		--unreviewed: oklch(0.89 0.21 99.98);
		--unreviewed-veil: oklch(0.89 0.21 99.98 / 20%);
		--untranslated: oklch(0.64 0.27 18.4);
		--untranslated-veil: oklch(0.64 0.27 18.4 / 20%);
	}
}
a { color: var(--fg-1); }
a:hover { color: var(--fg-3); }
.activity {
	background: var(--untranslated);
	border-radius: .5rem;
	height: 1rem;
	width: 1rem;
}
.badge {
	color: var(--fg-1);
	padding: .2em .4em;
	border-radius: .3em;
}
.badge.unreviewed { background: var(--unreviewed-veil); }
.badge.untranslated { background: var(--untranslated-veil); }
body {
	background: var(--bg-1);
	color: var(--fg-2);
	line-height: 1.4;
	margin: 0;
}
body, button, input, textarea { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
button { cursor: pointer; }
code {
	font-size: 1rem;
	padding-left: .1rem;
}
.count {
	background: var(--bg-2);
	border-radius: .3rem;
	font-weight: 600;
	padding: .2rem .4rem;
}
details {
	margin-left: .5rem;
  	margin-right: 1rem;
	margin-top: 1rem;
}
h1 {
	align-items: center;
	display: flex;
	font-size: 1.6rem;
	font-weight: 300;
}
h1 svg { font-size: 3rem; }
h2 {
	color: var(--fg-1);
	font-size: 1.4rem;
	font-weight: 300;
}
header {
	align-items: center;
	background: var(--bg-1);
  	border-bottom: 1px solid var(--bg-3);
	box-shadow: 0 0 1rem var(--shadow);
  	column-gap: .5rem;
	display: flex;
	position: sticky;
	top: 0;
  	padding: .5rem;
}
header .count { font-size: .8rem; }
.message {
	align-items: center;
	column-gap: .5rem;
	display: flex;
	flex-grow: 1;
	opacity: 0;
	transition: opacity 1s ease;
}
.message.active { opacity: 1; }
input {
	background: var(--bg-2);
	border: none;
	border-radius: .15rem;
	color: var(--fg-2);
	font-size: 1rem;
	padding: .2rem .3rem;
}
input[disabled] { color: var(--fg-3); }
.label {
	background: var(--bg-2);
	border-radius: .3rem;
	color: var(--fg-3);
	font-size: .8rem;
	padding: .2rem .3rem;
}
.language > :not(:first-child) { margin-left: .4rem; }
.language .count {
	background: var(--fg-1);
	float: right;
	color: var(--bg-1);
	font-weight: 600;
}
.language .count:not(.active) { display: none; }
li:not(:first-child) {
	margin-top: 1rem;
}
pre {
	background: var(--bg-2);
	border-radius: .3rem;
	padding: .5rem .7rem;
}
.progress {
	display: inline-flex;
	height: .7rem;
	width: 3rem;
}
.progress .bar {}
.progress .bar.reviewed { background: var(--reviewed); }
.progress .bar.unreviewed { background: var(--unreviewed); }
.progress .bar.untranslated { background: var(--untranslated); }
section {
	margin: 1rem;
	max-width: 40rem;
}
.status {
	border-radius: .5rem;
	height: 1rem;
	width: 1rem;
}
.status.reviewed { background: var(--reviewed); }
.status.unreviewed { background: var(--unreviewed); }
.status.untranslated { background: var(--untranslated); }
.string > div {
	align-items: center;
	column-gap: 1rem;
	display: flex;
}
.string > div > :nth-child(1) {
	color: var(--fg-3);
	font-size: .8rem;
	width: 3.5rem;
}
.string > div > :nth-child(2) {
	color: var(--fg-1);
	font-size: .8rem;
  	text-align: center;
	text-transform: uppercase;
	width: 1rem;
}
.string > div > :nth-child(3) { flex-grow: 1; }
.strings { margin-left: 1.3rem; }
.strings > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2rem;
	margin-top: 2rem;
	row-gap: .5rem;
}
summary { cursor: pointer; }
summary::marker {
	color: var(--fg-2);
	font-size: 1.2rem;
}
svg {
	fill: currentColor;
	height: 1em;
	width: 1em;
}
textarea {
	background: var(--bg-2);
	border: none;
	border-radius: .15rem;
	color: var(--fg-2);
	height: 10rem;
	padding: .2rem .3rem;
}
textarea[disabled] { color: var(--fg-3); }
ul {
	list-style: none;
	padding-left: 0;
}
