body, button, input, textarea { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
code {
	font-size: 1rem;
	padding-left: .5rem;
}
code.reviewed { border-left: 1rem solid green; }
code.unreviewed { border-left: 1rem solid orange; }
code.untranslated { border-left: 1rem solid red; }
input {
	font-size: 1rem;
	padding: .2rem;
}
.string {
	align-items: center;
	column-gap: 1rem;
	display: flex;
	justify-content: space-between;
}
.string > :nth-child(1) { width: 20rem; }
.string > :nth-child(2) { flex-grow: 1; }
.strings {
	display: flex;
	flex-direction: column;
	row-gap: .5rem;
}
textarea {
	height: 10rem;
	padding: .2rem;
}