.undescribed_icon {
    bottom: 0;
    padding: .5em;
    position: absolute;
    right: 0;
    z-index: 2;
}
.undescribed_icon img { width: 1.5em; }
.undescribed_overlay {
    align-items: center;
    background-color: hsla(var(--cover-h), var(--cover-s), var(--cover-l), .5);
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    display: none;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.undescribed_icon:hover + .undescribed_overlay { display: flex; }
.undescribed_wrapper { position: relative; }