.undescribed_corner_tag {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
.undescribed_corner_tag img { width: 4em; }
.undescribed_icon {
    bottom: 0;
    padding: .5em;
    position: absolute;
    right: 0;
    z-index: 3;
}
.undescribed_icon img { width: 1.5em; }
.undescribed_overlay {
    align-items: center;
    background-color: hsla(0, 0%, var(--pane-l), .8);
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    display: none;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.undescribed_icon:hover + .undescribed_overlay { display: flex; }
.undescribed_wrapper { position: relative; }