:root {
    --color-background: hsl(var(--background-h), var(--background-s), var(--background-l));
    --color-cover: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
    --color-text: hsl(var(--text-h), var(--text-s), var(--text-l));
    --clearly-smaller: .83rem;
    --subtly-larger: 1.14rem;
    --boldly-larger: 1.17rem;
    --large: 1.5rem;
    --largest: 1.8rem;
}
a, button { cursor: pointer; }
a {
    color: hsl(var(--hue), var(--link-s), var(--link-l));
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    min-height: 100vh;
}
input, button { font-size: 1rem; }
h1 {
    font-size: var(--large);
    font-weight: 400;
    margin: 0;
}
h2 {
    font-size: var(--boldly-larger);
    font-weight: 400;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
main { box-sizing: border-box; }
nav {
    align-items: center;
    background-color: hsla(0, 0%, var(--pane-l), .8);
    box-shadow: 0 0 .5rem hsla(0, 0%, 0%, .2);
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}
@media (min-width: 30rem) {
    nav {
        font-size: var(--subtly-larger);
        height: 3.2rem;
    }
}
small { font-size: var(--clearly-smaller); }
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.additional { background-color: hsla(0, 0%, var(--text-l), 0.02); }
.additional > div {
    margin: 0 auto;
    max-width: 20rem;
    padding: 1.5rem;
}
.artists {
    align-items: center;
    column-gap: .4rem;
    display: flex;
    flex-flow: row wrap;
    margin: 1.5rem 0;
    row-gap: .4rem;
}
.artists a {
    background-color: hsl(var(--hue), var(--link-s), var(--link-l));
    border-radius: .1rem;
    color: #000;
    padding: .1rem .2rem .2rem .2rem;
}
.big_play_button,
.big_play_button:hover {
    align-items: center;
    background-color: var(--color-text);
    bottom: 2px;
    color: var(--color-muted);
    display: none;
    font-size: 2rem;
    height: 1.4rem;
    justify-content: center;
    position: relative;
    width: 1.4rem;
}
.big_play_button:hover { opacity: .8; }
.big_play_button img { transform: scale(0.6); }
/*.js_enabled .big_play_button { display: flex; }*/
.catalog {
    align-items: center;
    display: grid;
    grid-template-columns: fit-content(100vw);
    grid-template-rows: max-content max-content;
    grid-row-gap: .5rem;
    justify-items: center;
}
@media (min-width: 60rem) {
    .catalog {
        max-width: 27rem;
        padding: 2rem 2rem 2rem 0;
    }
}
.catalog_info_padded {
    max-width: 33rem;
    padding: 1rem;
}
@media (min-width: 60rem) {
    .catalog_info_padded {
        padding: 0;
        max-width: 27rem;
    }
}
.center_release {
    flex-grow: 1;
    margin: 1rem auto 3rem auto;
    max-width: 20rem;
}
@media (min-width: 23rem) {
    .center_release { margin: 3rem auto; }
}
.mobile_hpadding {
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 30rem) {
    .mobile_hpadding {
        padding-left: 0;
        padding-right: 0;
    }
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8rem;
}
.cover {
    background-color: var(--color-cover);
    display: block;
    max-height: 20rem;
    max-width: 20rem;
}
.cover_listing {
    background-color: var(--color-cover);
    display: block;
    margin-bottom: .5rem;
}
.download_button {
    background-color: hsl(var(--hue), var(--link-s), var(--link-hover-l));
    border-radius: .2rem;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.2);
    color: var(--color-background);
    display: inline-flex;
    padding: .8rem 1.2rem .8rem 1rem;
}
.download_button:hover { color: var(--color-background); }
.download_button .download_icon {
    margin-right: .8rem;
    width: 2rem;
}
.download_formats { margin-left: .1rem; }
.download_icon { width: 1rem; }
.download_hints > small { display: block; }
.download_hints > small:not(:first-child) { margin-top: .8rem; }
.download_options div { margin-bottom: .5rem; }
.duration {
    color: hsla(var(--text-h), var(--text-s), var(--text-l), .5);
    margin-left: .2rem;
    white-space: nowrap;
}
.embed_code {
    background-color: var(--color-cover);
    border: 0;
    border-radius: .2rem;
    color: var(--color-text);
    height: 3rem;
    padding: .5rem;
    width: 100%;
}
.feed_icon {
    position: relative;
    top: .2rem;
    width: 1rem;
}
.home_image {
    height: 40vw;
    object-fit: cover;
    width: 100vw;
}
@media (min-width: 30rem) {
    .home_image { height: 12rem; }
}
@media (min-width: 60rem) {
    .home_image { width: 27rem; }
}
.image {
    display: block;
    height: 100%;
    width: 100%;
}
.image img,
.image svg {
    height: 100%;
    width: 100%;
}
.index_split {
    align-items: start;
    display: grid;
    grid-template-columns: fit-content(100vw);
    grid-template-rows: max-content min-content;
    justify-content: center;
    min-height: calc(100vh - 2.5rem);
}
@media (min-width: 30rem) {
    .index_split { min-height: calc(100vh - 3.2rem); }
}
@media (min-width: 60rem) {
    .index_split {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    .index_split.index_vcentered { align-items: center; } 
}
.js_enabled audio { display: none; }
.large_type { font-size: 1.4rem; }
.logo {
    flex-shrink: 0;
    margin-left: .1rem;
    width: 2.3rem;
}
@media (min-width: 30rem) {
    .logo {
        margin-left: .3rem;
        width: 2.5rem;
    }
}
.muted { color: var(--color-muted); }
#overlay {
    align-items: center;
    background-color: hsla(var(--background-h), var(--background-s), var(--background-l), .9);
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    row-gap: .2rem;
    top: 0;
    z-index: 999;
}
[data-disabled-share],
.disabled[data-copy] { color: var(--color-muted); }
#overlay:target { display: flex; }
#overlay img {
    max-height: calc(100vh - 4rem);
    max-width: calc(100vw - 4rem);
}
.path {
    overflow-x: hidden;
    padding-right: 1rem;
    position: relative;
    text-overflow: ellipsis;
    top: -.01rem;
    white-space: nowrap;
}
.path a { color: var(--color-text); }
.path span { padding: 0 .2rem; }
.release {
    display:  flex;
    flex-direction: column;
}
.releases {
    align-content: start;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1.6rem;
    padding: 1rem;
    justify-self: center;
}
.release { grid-column-start: 1 }
@media (min-width: 15rem) {
    .release:nth-child(2n+1) { grid-column-start: 1 }
    .release:nth-child(2n+2) { grid-column-start: 2 }
    .releases { grid-auto-columns: .5fr; }
}
@media (min-width: 30rem) {
    .release:nth-child(3n+1) { grid-column-start: 1 }
    .release:nth-child(3n+2) { grid-column-start: 2 }
    .release:nth-child(3n+3) { grid-column-start: 3 }
    .releases { max-width: 33rem; grid-auto-columns: 0.33333fr; }
}
@media (min-width: 60rem) {
    .release:nth-child(2n+1) { grid-column-start: 1 }
    .release:nth-child(2n+2) { grid-column-start: 2 }
    .releases {
        grid-auto-columns: 12rem;
        grid-column-start: 1;
        grid-column-gap: 1.6rem;
        grid-row-start: 1;
        max-width: unset;
        padding: 2rem;
    }
}
@media (min-width: 70rem) {
    .release:nth-child(3n+1) { grid-column-start: 1 }
    .release:nth-child(3n+2) { grid-column-start: 2 }
    .release:nth-child(3n+3) { grid-column-start: 3 }
}
#share {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
#share .inner {
    align-items: center;
    background-color: var(--color-background);
    border-radius: .4rem;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.2);
    column-gap: .8rem;
    display: flex;
    margin: 4rem;
    padding: 1rem;
}
#share input {
    background-color: hsla(0, 0%, var(--pane-l), .5);
    border: none;
    border-radius: .2rem;
    color: var(--color-text);
    padding: .5rem .7rem .6rem .8rem;
}
@keyframes dim {
  0% { opacity: 1; }
  5% { opacity: .5; }
  95% { opacity: .5; }
  100% { opacity: 0; }
}
#share:target { display: flex; }
[data-copy] .success,
[data-copy] .error { display: none; }
.confirmed[data-copy] .action,
.failed[data-copy] .action { display: none; }
.confirmed[data-copy] .success { display: inline; }
.failed[data-copy] .error { display: inline; }
.confirmed[data-copy],
.failed[data-copy] {
    animation: dim 3s linear;
    opacity: 1;
}
.track {
    height: 3rem;
    margin-bottom: .2rem;
    margin-bottom: .4rem;
    position: relative;
}
.track.active .track_number,
.track:hover .track_number { display: none; }
.track_controls {
    display: none;
    top: .15rem;
}
.track_number.outer { display: none; }
.track.active .track_controls.inner,
.track:hover .track_controls.inner { display: flex; }
.track_download_option { position: relative; }
.track_number { color: hsla(var(--text-h), var(--text-s), var(--text-l), .5); }
.track_controls,
.track_number { padding-right: .5rem; }
@media (min-width: 30rem) {
    .track.active .track_controls.inner,
    .track:hover .track_controls.inner { display: none; }
    .track_number.inner { display: none; }
    .track.active .track_controls.outer,
    .track:hover .track_controls.outer { display: flex; }
    .track_number.outer { display: block; }
}
.track_controls.outer,
.track_number.outer {
    position: absolute;
    right: calc(100%);
    text-align: right;
}
.track_header { display: flex; }
.duration { user-select: none; }
.track_title {
    color: var(--color-text);
    flex-shrink: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.track.playing .track_title { color: hsl(var(--hue), var(--link-s), var(--link-l)); }
#unlock { margin-bottom: 2rem; }
button,
input[type="number"],
input[type="text"],
.button {
    background-color: hsla(0, 0%, var(--pane-l), .5);
    border: none;
    border-radius: .2rem;
    color: var(--color-text);
    padding: .2rem .5rem .4rem .5rem;
}
button.disabled,
input[type="number"].disabled,
input[type="text"].disabled,
.button.disabled {
    cursor: default;
    opacity: .2; /* TODO: Make-shift way to indicate disabledness, implement properly */
}
.js_enabled .payment,
.js_enabled .unlock_manual { display: none; }
.unlock_scripted { display: none; }
.js_enabled .unlock_scripted { display: unset; }
.js_enabled .payment.active { display: unset; }
.vpad { margin: 1rem 0; }
.waveform {
    cursor: pointer;
    margin-top: .3rem;
}
.waveform path { fill: none; }
.waveform path.base {
    stroke: hsl(0, 0%, var(--text-l));
    stroke-width: .025px;
}
.waveform path.progress { stroke-width: .06px; }
