@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow'), url('barlow-v5-latin-regular.woff2') format('woff2');
}
a {
    color:hsl(var(--link-hue), var(--link-saturation), var(--link-lightness));
    cursor: pointer;
    text-decoration: none;
}
a:hover { color: hsl(var(--link-hue), var(--link-saturation), var(--link-hover-lightness)); }
a.play {
    cursor: pointer;
    margin-right: .3em;
}
body {
    background-color: hsl(0, 0%, var(--background-lightness));
    color: hsl(0, 0%, var(--text-lightness));
    font-family: 'Barlow';
    font-size: 18px;
    margin: 0;
}
div.cover {
    background-color: hsl(0, 0%, var(--cover-lightness));
    height: 20em;
    width: 20em;
}
footer {
    bottom: 0;
    color: hsl(0, 0%, var(--muted-lightness));
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    width: 100%
}
footer > * { padding: .6em; }
h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}
nav {
  font-size: 2em;
  padding: .3em .6em 0 0;
  writing-mode: vertical-rl;
}
nav > a {
  color: hsl(0, 0%, var(--link-lightness));
  text-transform: uppercase;
}
nav > a:hover { color: hsl(0, 0%, var(--link-hover-lightness)); }
nav > *:not(:first-child) { margin-top: .3em; }
img {
  display: block;
  max-width: 100%;
}
main {
  box-sizing: border-box;
  height: 100vh;
  padding: .6em;
}
.center {
  margin: 0 auto;
  margin-top: 8em;
  max-width: 40em;
}
.hsplit {
  display: flex;
}
.hsplit.apart {
  justify-content: space-between;
}
.js_enabled audio { display: none; }
.layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.muted { color: hsl(0, 0%, var(--muted-lightness)); }
.releases {
    align-content: center;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fit, 200px);
    height: 100%;
    justify-content: center;
}
.share.disabled {
    color: hsl(0, 0%, var(--muted-lightness));
}
.track {
  display: flex;
  margin-bottom: .2em;
}
.track > *:not(:first-child) {
  margin-left: .4em;
}
.track_duration_bar {
  background-color: hsl(0, 0%, var(--muted-lightness));
  bottom: .3em;
  height: 1px;
  position: absolute;
}
.track_duration_text {
  text-align: right;
  position: absolute;
  transform: translateX(-100%);
}
.track_number {
  align-items: center;
  border: 1px solid hsl(0, 0%, var(--muted-lightness));
  border-radius: 50%;
  bottom: .1em;
  display: flex;
  height: 1.2em;
  justify-content: center;
  padding: .2em;
  position: relative;
  width: 1.2em;
}
.track_number:hover { border-color: hsl(0, 0%, var(--link-hover-lightness)); }
.track_title { position: relative; }
.vpad { margin: 1em 0; }
