:root {
    --color-background: hsl(var(--background-h), var(--background-s), var(--background-l));
    --color-cover: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
    --color-text: hsl(var(--text-h), var(--text-s), var(--text-l));
}
a, button { cursor: pointer; }
a {
    color: hsl(var(--hue), var(--link-s), var(--link-l));
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    min-height: 100vh;
}
input, button { font-size: 1rem; }
h1 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-size: 1.17rem;
    font-weight: 400;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
main { box-sizing: border-box; }
nav {
    align-items: center;
    background-color: hsla(0, 0%, var(--pane-l), .92);
    box-shadow: 0 0 .5rem hsla(0, 0%, 0%, 0.2);
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
}
nav a { color: var(--color-text); }
nav img { height: 2.5rem; }
nav > *:not(:first-child) {
    margin-right: .4rem;
    position: relative;
    top: -.01rem;
}
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.additional {
    align-items: center;
    background-color: hsl(0, 0%, var(--pane-l));
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    min-height: calc(50vh - 1.25rem);
    padding: 3rem;
}
.big_play_button,
.big_play_button:hover {
    align-items: center;
    background-color: var(--color-text);
    bottom: 2px;
    color: var(--color-muted);
    display: none;
    font-size: 2rem;
    height: 1.4rem;
    justify-content: center;
    position: relative;
    width: 1.4rem;
}
.big_play_button:hover { opacity: .8; }
.big_play_button img { transform: scale(0.6); }
/*.js_enabled .big_play_button { display: flex; }*/
.catalog {
    align-items: center;
    display: grid;
    grid-template-columns: fit-content(100vw);
    grid-template-rows: max-content max-content;
    grid-row-gap: .5rem;
    justify-items: center;
}
@media (min-width: 60rem) {
    .catalog {
        max-width: 27rem;
        padding: 2rem 2rem 2rem 0;
    }
}
.catalog_info_padded {
    max-width: 33rem;
    padding: 1rem;
}
@media (min-width: 60rem) {
    .catalog_info_padded {
        padding: 0;
        max-width: 27rem;
    }
}
.center {
    flex-grow: 1;
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 23rem;
}
.center_release {
    flex-grow: 1;
    margin: 3rem auto;
    max-width: 20rem;
}
@media (max-width: 23rem) {
    .center_release { margin: 1rem auto 3rem auto; }
}
@media (max-width: 30rem) {
    .mobile_hpadding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8rem;
}
.cover {
    background-color: var(--color-cover);
    display: block;
    max-height: 20rem;
    max-width: 20rem;
}
.cover_listing {
    background-color: var(--color-cover);
    display: block;
    margin-bottom: .5rem;
}
.download_button {
    background-color: var(--color-text);
    border-radius: .2rem;
    color: var(--color-background);
    display: inline-flex;
    padding: .8rem 1.2rem .8rem 1rem;
}
.download_button:hover {
    color: var(--color-background);
    opacity: .8;
}
.download_button .download_icon {
    margin-right: .8rem;
    width: 2rem;
}
.download_formats { margin-left: .1rem; }
.download_icon { width: 1rem; }
.download_hints > small { display: block; }
.download_hints > small:not(:first-child) { margin-top: .8rem; }
.download_options div { margin-bottom: .5rem; }
.duration {
    color: hsla(var(--text-h), var(--text-s), var(--text-l), .4);
    margin-left: .2rem;
    white-space: nowrap;
}
.embed_code {
    background-color: var(--color-cover);
    border: 0;
    border-radius: .2rem;
    color: var(--color-text);
    height: 3rem;
    padding: .5rem;
    width: 100%;
}
.feed_icon {
    position: relative;
    top: .2rem;
    width: 1rem;
}
.home_image {
    height: 12rem;
    object-fit: cover;
    width: 100vw;
}
@media (min-width: 60rem) {
    .home_image { width: 27rem; }
}
.image {
    display: block;
    height: 100%;
    width: 100%;
}
.image img {
    height: 100%;
    width: 100%;
}
.index_split {
    align-items: start;
    display: grid;
    grid-template-columns: fit-content(100vw);
    grid-template-rows: max-content min-content;
    justify-content: center;
    min-height: calc(100vh - 2.5rem);
}
@media (min-width: 60rem) {
    .index_split {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    .index_split.index_vcentered { align-items: center; } 
}
.js_enabled audio { display: none; }
.large_type { font-size: 1.4rem; }
.muted { color: var(--color-muted); }
#overlay,
#share {
    align-items: center;
    background-color: hsla(var(--background-h), var(--background-s), var(--background-l), .9);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
#overlay:target { display: flex; }
#overlay img {
    max-height: calc(100vh - 4em);
    max-width: calc(100vw - 4em);
}
.release {
    display:  flex;
    flex-direction: column;
}
.releases {
    align-content: start;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1.6rem;
    padding: 1rem;
    justify-self: center;
}
.release { grid-column-start: 1 }
@media (min-width: 15rem) {
    .release:nth-child(2n+1) { grid-column-start: 1 }
    .release:nth-child(2n+2) { grid-column-start: 2 }
    .releases { grid-auto-columns: .5fr; }
}
@media (min-width: 30rem) {
    .release:nth-child(3n+1) { grid-column-start: 1 }
    .release:nth-child(3n+2) { grid-column-start: 2 }
    .release:nth-child(3n+3) { grid-column-start: 3 }
    .releases { max-width: 33rem; grid-auto-columns: 0.33333fr; }
}
@media (min-width: 60rem) {
    .release:nth-child(2n+1) { grid-column-start: 1 }
    .release:nth-child(2n+2) { grid-column-start: 2 }
    .releases {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-auto-columns: 12rem;
        max-width: unset;
        padding: 2rem;
    }
}
@media (min-width: 70rem) {
    .release:nth-child(3n+1) { grid-column-start: 1 }
    .release:nth-child(3n+2) { grid-column-start: 2 }
    .release:nth-child(3n+3) { grid-column-start: 3 }
}
#share:target { display: flex; }
.small_type { font-size: .9rem; }
.track {
    height: 3rem;
    margin-bottom: .2rem;
    position: relative;
}
@media (max-width: 467px) {
    .track.active .track_controls.inner,
    .track:hover .track_controls.inner { display: inline-flex; }
}
.track.active .track_number,
.track:hover .track_number { display: none; }
.track_controls {
    display: none;
    top: .15rem;
}
.track_download_option { position: relative; }
.track_number { color: hsla(var(--text-h), var(--text-s), var(--text-l), .4); }
.track_controls, .track_number {
    padding-right: .5rem;
}
@media (min-width: 468px) {
    .track_controls.inner, .track_number.inner { display: none; }
    .track.active .track_controls.outer,
    .track:hover .track_controls.outer { display: flex; }
}
.track_controls.outer, .track_number.outer {
    position: absolute;
    right: calc(100%);
    text-align: right;
}
@media (max-width: 467px) {
    .track_controls.outer, .track_number.outer { display: none; }
    .track.active .track_controls.inner,
    .track:hover .track_controls.inner { display: flex; }
}
.track_title {
    color: var(--color-text);
    display: flex;
    user-select: none;
}
.track_title_actual {
    flex-shrink: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.track.playing .track_title { color: hsl(var(--hue), var(--link-s), var(--link-l)); }
.track_title_wrapper {
    display: flex;
    justify-self: end;
}
#unlock { margin-bottom: 2rem; }
button,
input[type="number"],
input[type="text"],
.button {
    background-color: hsla(0, 0%, var(--pane-l), .5);
    border: none;
    border-radius: .2rem;
    color: var(--color-text);
    padding: .2rem .5rem .4rem .5rem;
}
button.disabled,
input[type="number"].disabled,
input[type="text"].disabled,
.button.disabled {
    cursor: default;
    opacity: .2; /* TODO: Make-shift way to indicate disabledness, implement properly */
}
.js_enabled .payment,
.js_enabled .unlock_manual { display: none; }
.unlock_scripted { display: none; }
.js_enabled .unlock_scripted { display: unset; }
.js_enabled .payment.active { display: unset; }
.vpad { margin: 1rem 0; }
.waveform { cursor: pointer; }
.waveform path { fill: none; }
.waveform path.base {
    stroke: hsl(0, 0%, var(--text-l));
    stroke-width: .02px;
}
.waveform path.progress { stroke-width: .06px; }
