:root {
  --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
}
a {
    color: hsl(var(--hue), var(--link-s), var(--link-l));
    cursor: pointer;
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: hsl(var(--background-h), var(--background-s), var(--background-l));
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    font-size: 18px;
    margin: 0;
}
footer {
    bottom: 0;
    color: var(--color-muted);
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
}
footer a { color: var(--color-muted); }
footer > * { padding: .6em; }
/* TODO: Tie to a certain minimum screen-width (or place elsewhere on small screens) */
.next_release {
    bottom: calc(50% - 1em);
    color: var(--color-muted);
    display: flex;
    justify-content: center;
    padding; .6em;
    position: absolute;
    right: 0;
}
h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
main {
    box-sizing: border-box;
    height: 100vh;
    padding: .6em;
}
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.center {
    margin: 0 auto;
    margin-top: 8em;
    max-width: 40em;
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8em;
}
.cover {
    background-color: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    display: block;
    height: 20em;
    width: 20em;
}
.cover_listing {
    background-color: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    display: block;
    display: none;
    height: 10em;
    margin-right: 1em;
    width: 10em;
}
.hsplit {
    display: flex;
}
.hsplit.apart {
    justify-content: space-between;
}
.js_enabled audio { display: none; }
.large { font-size: 1.6em; }
.layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.muted { color: var(--color-muted); }
.release_grid {
    display: grid;
    grid-gap: 0.5em 1.4em;
    grid-template-columns: auto auto;
}
.releases {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
.runtime {
	bottom: .2em;
	font-size: .5em;
	opacity: .4;
	position: relative;
}
.share_notification {
    animation: appear 3s linear;
    color: var(--color-muted);
    margin-left: .2em;
    opacity: 0;
    pointer-events: none;
}
@keyframes appear {
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
.share_link.disabled { color: var(--color-muted); }
.track {
    display: flex;
    margin-bottom: .2em;
    position: relative;
}
.track > *:not(:first-child) { margin-left: .4em; }
.track_duration,
.track_number {
    bottom: .2em;
	font-size: .6em;
    opacity: .4;
	position: relative;
}
.track_duration {
	margin-left: .1em;
	bottom: -0.3em;
}
.track_number { margin-right: .4em; }
.track_play,
.track_play:hover {
    align-items: center;
	background-color: hsl(var(--text-h), var(--text-s), var(--text-l));
    bottom: 2px;
    color: var(--color-muted);
    display: none;
    font-size: 2em;
	height: 1.4em;
    justify-content: center;
	position: relative;
    width: 1.4em;
}
.track_play:hover {
    opacity: .8;
}
.js_enabled .track_play { display: flex; }
.track_title {
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    position: relative;
}
.track_title.playing {
    animation: 3s linear infinite pulse;
    color: hsl(var(--hue), var(--link-s), var(--link-l));
}
@keyframes pulse {
  0% { opacity: .8; }
  50% { opacity: .4; }
  100% { opacity: .8; }
}
.track_title_wrapper {
    justify-self: end;
}
.vpad { margin: 1em 0; }
.waveform {
    bottom: .3em;
    cursor: pointer;
    height: .8em;
    /* position: absolute; */
}
.waveform path {
    fill: none;
    stroke-width: 1px;
}
