:root {
  --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow'), url('barlow-v5-latin-regular.woff2') format('woff2');
}
a {
    color:hsl(var(--hue), var(--link-s), var(--link-l));
    cursor: pointer;
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: hsl(var(--background-h), var(--background-s), var(--background-l));
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    font-family: 'Barlow';
    font-size: 18px;
    margin: 0;
}
footer {
    bottom: 0;
    color: var(--color-muted);
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    width: 100%
}
footer > * { padding: .6em; }
h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}
nav {
    font-size: 2em;
    padding: .3em .6em 0 0;
    writing-mode: vertical-rl;
}
nav > a {
    color: hsl(var(--text-h), var(--nav-s), var(--link-l));
    text-transform: uppercase;
}
nav > a:hover { color: hsl(var(--text-h), var(--nav-s), var(--link-hover-l)); }
nav > *:not(:first-child) { margin-top: .3em; }
img {
    display: block;
    max-width: 100%;
}
main {
    box-sizing: border-box;
    height: 100vh;
    padding: .6em;
}
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.center {
    margin: 0 auto;
    margin-top: 8em;
    max-width: 40em;
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8em;
}
.cover {
    background-color: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    display: block;
    height: 20em;
    width: 20em;
}
.hsplit {
    display: flex;
}
.hsplit.apart {
    justify-content: space-between;
}
.js_enabled audio { display: none; }
.large { font-size: 1.2em; }
.layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.muted { color: var(--color-muted); }
.release_grid {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 20em auto;
}
.releases {
    align-content: center;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fit, 200px);
    height: 100%;
    justify-content: center;
}
.share_notification {
    animation: appear 3s linear;
    color: var(--color-muted);
    margin-left: .2em;
    opacity: 0;
    pointer-events: none;
}
@keyframes appear {
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
.share_link.disabled { color: var(--color-muted); }
.track {
    display: flex;
    margin-bottom: .2em;
    position: relative;
}
.track > *:not(:first-child) {
    margin-left: .4em;
}
.track_duration_text { display: none; }
.track_number { opacity: .4 }
.track_play_mock {
	background-color: hsl(var(--text-h), var(--text-s), var(--text-l));
	color: var(--color-muted);
	height: 1.4em;
	width: 1.4em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	position: relative;
	bottom: 2px;
}
.track_title {
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    position: relative;
}
.track_title.playing {
    animation: 3s linear infinite pulse;
}
@keyframes pulse {
  0% { opacity: .8; }
  50% { opacity: .4; }
  100% { opacity: .8; }
}
.track_title_wrapper {
    justify-self: end;
}
.vpad { margin: 1em 0; }
.waveform {
    bottom: .3em;
    cursor: pointer;
    height: .8em;
    /* position: absolute; */
}
.waveform path {
    fill: none;
    stroke-width: 1px;
}
