:root {
    --color-background: hsl(var(--background-h), var(--background-s), var(--background-l));
    --color-cover: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
    --color-text: hsl(var(--text-h), var(--text-s), var(--text-l));
}
a, button { cursor: pointer; }
a {
    color: hsl(var(--hue), var(--link-s), var(--link-l));
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}
input, button { font-size: 1rem; }
h1 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-size: 1.17rem;
    font-weight: 400;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
main { box-sizing: border-box; }
nav {
    align-items: center;
    background-color: hsla(0, 0%, var(--pane-l), .92);
    box-shadow: 0 0 .5rem hsla(0, 0%, 0%, 0.2);
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
}
nav a { color: var(--color-text); }
nav > *:not(:first-child) { margin-right: .4rem }
nav > *:first-child { margin-right: .8rem }
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.additional {
    align-items: center;
    background-color: hsl(0, 0%, var(--pane-l));
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    min-height: calc(50vh - 1.25rem);
    padding: 3rem;
}
.big_play_button,
.big_play_button:hover {
    align-items: center;
    background-color: var(--color-text);
    bottom: 2px;
    color: var(--color-muted);
    display: none;
    font-size: 2rem;
    height: 1.4rem;
    justify-content: center;
    position: relative;
    width: 1.4rem;
}
.big_play_button:hover { opacity: .8; }
.big_play_button img { transform: scale(0.6); }
/*.js_enabled .big_play_button { display: flex; }*/
.center {
    flex-grow: 1;
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 23rem;
}
.center_release {
    flex-grow: 1;
    margin: 3rem auto;
    max-width: 23rem;
}
@media (max-width: 30rem) {
    .center_release {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8rem;
}
.cover {
    background-color: var(--color-cover);
    display: block;
    height: 20rem;
    width: 20rem;
}
.cover_listing {
    background-color: var(--color-cover);
    display: block;
    margin-bottom: .5rem;
}
.download_button {
    background-color: var(--color-text);
    border-radius: .2rem;
    color: var(--color-background);
    display: inline-flex;
    padding: .8rem 1.2rem .8rem 1rem;
}
.download_button:hover {
    color: var(--color-background);
    opacity: .8;
}
.download_button .download_icon {
    margin-right: .8rem;
    width: 2rem;
}
.download_formats { margin-left: .1rem; }
.download_icon { width: 1rem; }
.download_hints > small { display: block; }
.download_hints > small:not(:first-child) { margin-top: .8rem; }
.download_options div { margin-bottom: .5rem; }
.duration {
    color: hsla(var(--text-h), var(--text-s), var(--text-l), .4);
    margin-left: .2rem;
}
.embed_code {
    background-color: var(--color-cover);
    border: 0;
    border-radius: .2rem;
    color: var(--color-text);
    height: 3rem;
    padding: .5rem;
    width: 100%;
}
.feed_icon {
    position: relative;
    top: .2rem;
    width: 1rem;
}
.image {
    display: block;
    height: 100%;
    width: 100%;
}
.image img {
    height: 100%;
    width: 100%;
}
.js_enabled audio { display: none; }
.large_type { font-size: 1.4rem; }
.muted { color: var(--color-muted); }
.release {
    display:  flex;
    flex-direction: column;
}
.releases {
    align-content: center;
    box-sizing: border-box;
    display: grid;
    flex-basis: 100%;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem));
    justify-content: center;
    min-height: calc(50vh - 1.25rem);
    padding: 3rem;
}
.releases_full_height { min-height: calc(100vh - 2.5rem); }
.small_type { font-size: .9rem; }
.track {
    height: 3rem;
    margin-bottom: .2rem;
    position: relative;
}
.track.active .track_controls,
.track:hover .track_controls { display: flex; }
@media (max-width: 467px) {
    .track:hover .track_controls { display: inline-flex; }
}
.track.active .track_number,
.track:hover .track_number { display: none; }
.track_controls {
    display: none;
    top: .15rem;
}
.track_download_option { position: relative; }
.track_number { color: hsla(var(--text-h), var(--text-s), var(--text-l), .4); }
.track_controls, .track_number { padding-right: .5rem; }
@media (min-width: 468px) {
    .track_controls, .track_number {
        position: absolute;
        right: calc(100%);
        text-align: right;
    }
}
.track_title {
    color: var(--color-text);
    user-select: none;
}
.track.playing .track_title { color: hsl(var(--hue), var(--link-s), var(--link-l)); }
.track_title_wrapper {
    display: flex;
    justify-self: end;
}
#unlock { margin-bottom: 2rem; }
button, .unlock_code {
    background-color: hsla(0, 0%, var(--pane-l), .5);
    border: none;
    border-radius: .2rem;
    color: var(--color-text);
    padding: .2rem .5rem .4rem .5rem;
}
.js_enabled .unlock_manual { display: none; }
.unlock_scripted { display: none; }
.js_enabled .unlock_scripted { display: unset; }
.vpad { margin: 1rem 0; }
.waveform { cursor: pointer; }
.waveform path { fill: none; }
.waveform path.base {
    stroke: hsl(0, 0%, var(--text-l));
    stroke-width: .02px;
}
.waveform path.progress { stroke-width: .06px; }
