:root {
  --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
}
a {
    color: hsl(var(--hue), var(--link-s), var(--link-l));
    cursor: pointer;
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: hsl(var(--background-h), var(--background-s), var(--background-l));
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    font-size: 18px;
    margin: 0;
}
footer {
    bottom: 0;
    color: var(--color-muted);
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
}
footer a { color: var(--color-muted); }
footer > * { padding: .6em; }
h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
main {
    box-sizing: border-box;
    height: 100vh;
}
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.align {
    padding-left: calc(30% + 1em);
}
.center {
    margin: 0 auto;
    margin-top: 8em;
    max-width: 40em;
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8em;
}
.cover {
    background-color: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    display: block;
    height: 20em;
    width: 20em;
}
.cover_listing {
    background-color: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    display: block;
    display: none;
    height: 10em;
    margin-right: 1em;
    width: 10em;
}
.embed_code { width: 10em; }
.hsplit { display: flex; }
.hsplit.apart { justify-content: space-between; }
.image {
    display: block;
    height: 100%;
    width: 100%;
}
.image img {
    height: 100%;
    width: 100%;
}
.js_enabled audio { display: none; }
.large { font-size: 1.6em; }
.layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.muted { color: var(--color-muted); }
.release_grid {
    display: grid;
    grid-gap: .5em 1em;
    grid-template-columns: 30% 70%;
}
.releases {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
.runtime {
	bottom: .2em;
	font-size: .5em;
	opacity: .4;
	position: relative;
}
.share_notification {
    animation: appear 3s linear;
    color: var(--color-muted);
    margin-left: .2em;
    opacity: 0;
    pointer-events: none;
}
@keyframes appear {
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
.share_link.disabled { color: var(--color-muted); }
.track {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 30% 70%;
    padding: .3em 0 .4em 0;
}
.track:hover { background-color: hsla(var(--text-h), var(--text-s), var(--text-l), .03); }
.track.playing .track_controls,
.track:hover .track_controls { display: flex; }
.track.playing .track_number,
.track:hover .track_number { display: none; }
.track.playing { background-color: hsla(var(--text-h), var(--text-s), var(--text-l), .06); }
.track_controls { display: none; }
.track_controls, .track_number {
    opacity: .4;
    margin-right: .4em;
    max-width: 1em;
}
.track_duration,
.track_duration {
	bottom: -0.3em;
	font-size: .6em;
	margin-left: .1em;
	position: relative;
}
.track_play,
.track_play:hover {
    align-items: center;
	background-color: hsl(var(--text-h), var(--text-s), var(--text-l));
    bottom: 2px;
    color: var(--color-muted);
    display: none;
    font-size: 2em;
	height: 1.4em;
    justify-content: center;
	position: relative;
    width: 1.4em;
}
.track_play:hover { opacity: .8; }
.track_play img { transform: scale(0.6); }
.js_enabled .track_play { display: flex; }
.track_title {
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    position: relative;
    user-select: none;
}
.track.playing .track_title { color: hsl(var(--hue), var(--link-s), var(--link-l)); }
.track_title_wrapper {
    display: flex;
    justify-self: end;
}
.vpad { margin: 1em 0; }
.waveform {
    bottom: .3em;
    cursor: pointer;
    height: .8em;
    /* position: absolute; */
}
.waveform path {
    fill: none;
    stroke-width: 1px;
}
