:root {
    --color-cover: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
    --color-text: hsl(var(--text-h), var(--text-s), var(--text-l));
}
a {
    color: hsl(var(--hue), var(--link-s), var(--link-l));
    cursor: pointer;
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: hsl(var(--background-h), var(--background-s), var(--background-l));
    color: var(--color-text);
    font-size: 18px;
    margin: 0;
}
html { scroll-behavior: smooth; }
h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
main { box-sizing: border-box; }
nav {
    align-items: center;
    background-color: hsla(0, 0%, var(--pane-l), .5);
    box-shadow: 0 0 .5em hsla(0, 0%, 0%, 0.2);
    box-sizing: border-box;
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    padding: 0 .8em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}
nav span { display: flex; }
nav a { color: var(--color-text); }
nav a:not(:first-child) { margin-left: .5em; }
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.additional {
    align-items: center;
    background-color: hsl(0, 0%, var(--pane-l));
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    min-height: calc(50vh - 1.25em);
    padding: 3em;
}
.big_play_button,
.big_play_button:hover {
    align-items: center;
    background-color: var(--color-text);
    bottom: 2px;
    color: var(--color-muted);
    display: none;
    font-size: 2em;
    height: 1.4em;
    justify-content: center;
    position: relative;
    width: 1.4em;
}
.big_play_button:hover { opacity: .8; }
.big_play_button img { transform: scale(0.6); }
/*.js_enabled .big_play_button { display: flex; }*/
.center {
    margin: 0 auto;
    margin-top: 8em;
    max-width: 23em;
}
.center_release {
    margin: 3em auto;
    max-width: 23em;
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8em;
}
.cover {
    background-color: var(--color-cover);
    display: block;
    height: 20em;
    width: 20em;
}
.cover_listing {
    background-color: var(--color-cover);
    display: block;
    margin-bottom: .5em;
}
.duration {
    color: hsla(var(--text-h), var(--text-s), var(--text-l), .4);
    margin-left: .2em;
}
.embed_code {
    background-color: var(--color-cover);
    border: 0;
    border-radius: .2em;
    color: var(--color-text);
    height: 3em;
    padding: .5em;
    width: 100%;
}
.feed_icon {
    position: relative;
    top: .2em;
    width: 1em;
}
.image {
    display: block;
    height: 100%;
    width: 100%;
}
.image img {
    height: 100%;
    width: 100%;
}
.js_enabled audio { display: none; }
.muted { color: var(--color-muted); }
.release {
    display:  flex;
    flex-direction: column;
}
.releases {
    align-content: center;
    box-sizing: border-box;
    display: grid;
    flex-basis: 100%;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 12em));
    justify-content: center;
    min-height: calc(50vh - 1.25em);
    padding: 3em;
}
.releases_full_height { min-height: calc(100vh - 2.5em); }
@media (max-width: 800px) and (min-height: 921px) {
    .split { flex-direction: column; }
    .split_side { width: 100%; }
}
@media (max-width: 800px) and (max-height: 920px) {
    .split { display: block; }
    .split_side { width: 100%; }
}
.track {
    height: 3em;
    margin-bottom: .2em;
    position: relative;
}
.track.active .track_controls,
.track:hover .track_controls { display: flex; }
.track.active .track_number,
.track:hover .track_number { display: none; }
.track_controls {
    display: none;
    top: .15em;
}
.track_number { color: hsla(var(--text-h), var(--text-s), var(--text-l), .4); }
.track_controls, .track_number {
    padding-right: .5em;
    position: absolute;
    right: calc(100%);
    text-align: right;
}
.track_title {
    color: var(--color-text);
    user-select: none;
}
.track.playing .track_title { color: hsl(var(--hue), var(--link-s), var(--link-l)); }
.track_title_wrapper {
    display: flex;
    justify-self: end;
}
.vpad { margin: 1em 0; }
.waveform { cursor: pointer; }
.waveform path { fill: none; }
.waveform path.base {
    stroke: hsl(0, 0%, var(--text-l));
    stroke-width: .02px;
}
.waveform path.progress { stroke-width: .06px; }
