:root {
  --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
}
a {
    color: hsl(var(--hue), var(--link-s), var(--link-l));
    cursor: pointer;
    text-decoration: none;
}
a:hover { color: hsl(var(--hue), var(--link-s), var(--link-hover-l)); }
a * { pointer-events: none; }
body {
    background-color: hsl(var(--background-h), var(--background-s), var(--background-l));
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    font-size: 18px;
    margin: 0;
}
footer {
    bottom: 0;
    color: var(--color-muted);
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
}
footer a { color: var(--color-muted); }
footer > * { padding: .6em; }
h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
main { box-sizing: border-box; }
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
.align {
    max-width: 36em;
    padding-left: calc(30% + .6em);
}
.big_play_button,
.big_play_button:hover {
    align-items: center;
    background-color: hsl(var(--text-h), var(--text-s), var(--text-l));
    bottom: 2px;
    color: var(--color-muted);
    display: none;
    font-size: 2em;
    height: 1.4em;
    justify-content: center;
    position: relative;
    width: 1.4em;
}
.big_play_button:hover { opacity: .8; }
.big_play_button img { transform: scale(0.6); }
/*.js_enabled .big_play_button { display: flex; }*/
.center {
    margin: 0 auto;
    margin-top: 8em;
    max-width: 40em;
}
.center_unconstrained {
    margin: 0 auto;
    margin-top: 8em;
}
.cover {
    background-color: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    display: block;
    height: 20em;
    width: 20em;
}
.cover_listing {
    background-color: hsl(var(--cover-h), var(--cover-s), var(--cover-l));
    display: block;
    display: none;
    height: 10em;
    margin-right: 1em;
    width: 10em;
}
.duration {
    color: hsl(var(--text-h), var(--text-s), var(--text-l), .4);
    margin-left: .2em;
}
.embed_code { width: 10em; }
.hsplit { display: flex; }
.hsplit.apart { justify-content: space-between; }
.image {
    display: block;
    height: 100%;
    width: 100%;
}
.image img {
    height: 100%;
    width: 100%;
}
.js_enabled audio { display: none; }
.justify { text-align: justify; }
.large { font-size: 1.6em; }
.layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.muted { color: var(--color-muted); }
.release_grid {
    display: grid;
    grid-gap: .5em 1em;
    grid-template-columns: 30% 70%;
}
.releases {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
.runtime {
	bottom: .2em;
	font-size: .5em;
	opacity: .4;
	position: relative;
}
.track {
    display: grid;
    grid-gap: .6em;
    grid-template-columns: 30% 70%;
    height: 3em;
    margin-bottom: .2em;
}
/*.track:hover { background-color: hsla(var(--text-h), var(--text-s), var(--text-l), .03); }*/
.track.active .track_controls,
.track:hover .track_controls { display: flex; }
.track.active .track_number,
.track:hover .track_number { display: none; }
/*.track.active { background-color: hsla(var(--text-h), var(--text-s), var(--text-l), .06); }*/
.track_controls {
    display: none;
    left: -1.5em;
    max-height: 1.3em;
    max-width: 1em;
    position: absolute;
    text-align: right;
    top: .15em;
}
.track_number {
    color: hsl(var(--text-h), var(--text-s), var(--text-l), .4);
    left: -1.5em;
    min-width: 1em;
    position: absolute;
    text-align: right;
}
.track_title {
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    user-select: none;
}
.track.playing .track_title { color: hsl(var(--hue), var(--link-s), var(--link-l)); }
.track_title_wrapper {
    display: flex;
    justify-self: end;
}
.track_inner {
    position: relative;
}
.vpad { margin: 1em 0; }
.waveform { cursor: pointer; }
.waveform path { fill: none; }
.waveform path.base {
    stroke: hsl(0, 0%, var(--text-l));
    stroke-width: .02px;
}
.waveform path.progress { stroke-width: .06px; }
