.theming_widget {
    background-color: hsl(var(--background-h), var(--background-s), var(--background-l), .8);
    border: 1px solid hsl(var(--text-h), var(--text-s), var(--text-l));
    border-radius: .1rem;
    color: hsl(var(--text-h), var(--text-s), var(--text-l));
    bottom: 1rem;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    width: 28rem;
}
.theming_widget .message { margin-bottom: 1em; }
.theming_widget .option {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}
.theming_widget .option input { width: 17rem; }
.theming_widget .option .label { margin-left: 1rem; }
.theming_widget textarea {
    height: 10rem;
    width: 100%;
}